<div class="row font-monospace" style="margin:0px 0px;background-color:#bbbbbb;">
  <div class="col-md-12" style="padding:10px;">
    <a href="{% url 'snip:index' %}" style="text-decoration:none;">
    <span style="font-weight:bold;">
      <span style="color:#306998;">Python</span><span style="color:#FFE873;">Snippets</span><span style="color:white;">.Dev</span>
    </span>
    </a>
    &nbsp;
    &nbsp;
    <a href="{% url 'snip:archive' %}" style="text-decoration:none;color:white;">Archive</a>
  </div>
</div>
<div style="margin-bottom:10px;"></div>