{% extends 'snip/parent.html' %}

{% block main %}
<div class="row font-monospace">
    <div class="col-md-6">
        <div style="padding:10px;" class="pycolor">
            <i class="fa fa-archive"></i> Recent Snippets
        </div>
        <div style="padding:10px; font-size:90%" class="pycolor-reverse">
            <ul class="list-group list-group-flush">
                {% for snip in recent_snippets %}
                <li class="list-group-item pycolor-reverse">
                    <a href="{% url 'snip:snippet' snip.sid %}"
                       style="text-decoration:none;">
                        <i class="fa fa-file-code-o"></i> {{snip.title}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div style="padding:10px;" class="pycolor">
            <i class="fa fa-star"></i> Top Rated Snippets
        </div>
        <div style="padding:10px; font-size:90%;" class="pycolor-reverse">
            <ul class="list-group list-group-flush">
                {% for snip in recent_snippets %}
                <li class="list-group-item d-flex justify-content-between align-items-center pycolor-reverse">
                    <a href="{% url 'snip:snippet' snip.sid %}"
                       style="text-decoration:none;">
                        <i class="fa fa-file-code-o"></i> {{snip.title}}
                    </a>
                    <!-- upvote count will be enabled later
                    <span class="badge bg-primary rounded-pill" title="upvotes">14</span>
                    -->
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

<div class="row font-monospace" style="margin-top:10px;">
    <div class="col-md-6">
        <div style="padding:10px;" class="pycolor">
            <i class="fa fa-users"></i> About
        </div>
        <div style="padding:10px; font-size:90%" class="pycolor-reverse">
            Coming soon.
        </div>
    </div>
    <div class="col-md-6">
        <div style="padding:10px;" class="pycolor">
            <i class="fa fa-thumbs-up"></i> Support Us
        </div>
        <div style="padding:10px;font-size:90%" class="pycolor-reverse">
            Please help us keeping this website ads free. <br>
            Support us by: <br>
            1. Visiting the <a href="https://amzn.to/3hsbf1O" target="_blank">Amazon</a> using this
            <a href="https://amzn.to/3hsbf1O" target="_blank">affiliate link.</a><br>

            2. Creating an account on <a href="https://m.do.co/c/4dd631f4a322" target="_blank">DigitalOcean</a>
            using this <a href="https://m.do.co/c/4dd631f4a322" target="_blank">affiliate link</a> and
            you will get $100 credits to start with.
        </div>
    </div>
</div>


{% endblock main %}