{% extends 'snip/parent.html' %}

{% block main %}

{% include 'snip/message.html' %}

<!-- this 12px padding is required so that code block and this block can be of same width -->
<div style="padding: 0px 12px;">
    <div class="row" title="Snippet Title">
        <div class="col-md-12 pycolor font-monospace"
             style="padding: 5px 10px;">
            <div style="font-size:120%;">
                {{snippet.title}}
            </div>
        </div>
    </div>

    <!-- use IF condition here. if description is not available, don't show this row -->
    {% if snippet.description %}
    <div class="row" title="Snippet Description">
        <div class="col-md-12  font-monospace" style="padding: 10px 10px;">
            {{snippet.description}}
        </div>
    </div>
    {% endif %}

    <div class="row" style="background-color:gray">
        <div class="col-md-10  font-monospace font80 white"
             style="padding: 10px 20px ;">
            Python Version: {{snippet.python_version}}
            &nbsp;&nbsp;&nbsp;
            Author:
            <a href="{% url 'snip:author_page' snippet.author.username %}" target="_blank" class="white">
                {{snippet.get_author}}</a>
            &nbsp;&nbsp;&nbsp;
            Created Date: {{snippet.created_date | date:'d M Y'}}
        </div>

        {% if user.is_authenticated %}
        <div class="col-md-2 font-monospace font90 white text-end"
             style="padding: 10px 20px ;">

            <a href="{% url 'snip:report_snippet' snippet.sid %}"
               title="Report this Snippet"
               class="white"><i class="fa fa-exclamation-triangle"></i></a>
            &nbsp;
            <!-- no downvote concept. User can only upvote once and then can downvote once -->
            {% if already_upvoted %}
            <a href="{% url 'snip:upvote_snippet' snippet.sid %}"
               title="Downvote this Snippet"
               class="white"><i class="fa fa-thumbs-o-down"></i></a>
            {% else %}
            <a href="{% url 'snip:downvote_snippet' snippet.sid %}"
               title="Upvote this Snippet"
               class="white"><i class="fa fa-thumbs-o-up"></i></a>
            {% endif %}

        </div>
        {% endif %}
    </div>


</div>


<div class="row" style="padding-top:0px;">
    <div class="col-md-12">
        <div style="overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .1em;padding:.2em .6em;background-color:#111111;color:white;">
            {% autoescape off %}
            {{ highlighted_code }}
            {% endautoescape %}
            <textarea cols="20" rows="3" style="display:none;" id="raw_snippet">{{snippet.code}}</textarea>
        </div>
    </div>
</div>
<div class="row font80" style="background-color:gray;margin:0px 0px;">
    <div class="col-md-6  font-monospace white "
         style="padding: 10px 15px;">

        <a class="white" onclick="copySnippet()" title="Copy the code on clipboard" style="cursor:pointer;">
            Copy
            <i class="fa fa-copy" id="copyIcon"></i>
            <i class="fa fa-check" id="checkIcon" style="display:none;"></i>
        </a>

        |

        Download as:
        <a href="{% url 'snip:download_code_as_file' snippet.sid %}"
           target="_blank" title="Download as python file"
           class="white">.py file <i class="fa fa-download"></i></a>

        &nbsp;
        <a href="{% url 'snip:download_code_as_image' snippet.sid %}"
           target="_blank" title="Download as PNG Image"
           class="white">PNG <i class="fa fa-image"></i></a>
    </div>

    <div class="col-md-6  font-monospace text-end white "
         style="padding: 10px 15px;">

        Share on:

        <a href="https://www.facebook.com/sharer.php?u={{page_canonical_url}}"
           target="_blank"
           class="white">FB <i class="fa fa-facebook-square"></i></a>
        &nbsp;
        <a href="https://twitter.com/intent/tweet?text={{snippet.title}}&url={{page_canonical_url}}"
           target="_blank"
           class="white">Twitter <i class="fa fa-twitter"></i></a>
        &nbsp;
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{page_canonical_url}}&title={{snippet.title}}&summary={{snippet.description}}&source={{project_name_spaced}}"
           target="_blank"
           class="white">LinkedIn <i class="fa fa-linkedin-square"></i></a>
        &nbsp;
        <a href="https://wa.me?text={{snippet.title}} - {{page_canonical_url}}"
           target="_blank"
           class="white">WA <i class="fa fa-whatsapp"></i></a>



    </div>
</div>


<div class="row" style="padding-top:20px;">
    <div class="col-md-12 font-monospace text-center">
        <a href="{% url 'snip:previous_snippet' snippet.sid %}"
           class="btn btn-sm pycolor"><i class="fa fa-arrow-left"></i> Previous</a>

        <a href="{% url 'snip:random_snippet' snippet.sid %}"
           class="btn btn-sm pycolor">Random Snippet <i class="fa fa-random"></i></a>

        <a href="{% url 'snip:next_snippet' snippet.sid %}"
           class="btn btn-sm pycolor">Next <i class="fa fa-arrow-right"></i></a>

    </div>
</div>


<script type="text/javascript">
    function copySnippet() {
        // this textarea is hidden
        var copyText = document.getElementById("raw_snippet");
        // show the hidden textarea (for a moment) as hidden textarea doesnt work
        copyText.style.display = 'block';
        console.log(copyText);
        /* Select the text field */
        copyText.select();
        // copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        document.execCommand("copy");
        // hide back the text area
        copyText.style.display = 'none';

        // change btn icon
        document.getElementById("copyIcon").style.display = "none";
        document.getElementById("checkIcon").style.display = "inline";
        // revert btn icons after 2 seconds
        setTimeout(function() {
            document.getElementById("copyIcon").style.display = "inline";
            document.getElementById("checkIcon").style.display = "none";
        }, 2000);

    }












</script>

{% endblock main %}